{% extends 'base.html' %}

{% block content %}


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    
{% if product %}
	{% for product in product %}
		<tr>
			<td>{{ product.title }}</td>
			<td>{{ product.description }}</td>
			<td><a href="{% url 'product' product.id %}">{{ product.id }}</a></td>
		</tr>
	{% endfor %}

{% endif %}

	
	  </tbody>
	</table>

{% endblock %}